<div class="summary">
  <div><h2><%= params[:title] %></h2></div>
  <div><h3><%= params[:creator_name] %></h3></div>
  <div><h4><%= params[:pure_id] %></h4></div>
  <div><h4><%= params[:output_type] %></h4></div>
</div>