<!--DEBUG WITH HIGHLIGHTING-->
<%#= params.inspect %>
<%#= @records.inspect %>
<%# @records.each do |record| %>
  <%# if record.respond_to?(:pg_search_highlight) %>
    <%#= record.pg_search_highlight.html_safe %>
  <%# else %>
      <%#= record %>
  <%# end %>
<%# end %>

<div class="wrapper">
  <%= render 'shared/header' %>
  <h1>DOIs</h1>
  <%= render 'summary_record_vertical' %>
  <br>
  <br>
  <%= link_to 'Search', :dois_search, :class => 'pure-button' %>
</div>

<% flash.clear %>