<div class="environment">
  <h4>Environment</h4>
  <ul>
    <li><b>Datacite MDS service: </b><%= ENV['DATACITE_ENDPOINT'] %></li>
    <li><b>Pure web services:  </b><%= ENV['PURE_URL'] %>, v<%= @pure_version %></li>
    <li><b>Database host: </b><%= ENV['DB_HOST'] %></li>
  </ul>
</div>