body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  margin: 56px;
  margin-top: 25px;
}

.environment {
  background: #d7ffdc;
  border-style: inset;
  border-color: grey;
  margin-top: 100px;
  padding: 15px;
}